################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo/bin/Debug/net6.0
/Demo/obj
/ChainOfIrresponsibility/bin/Debug/net6.0
/ChainOfIrresponsibility/obj
/WhatShouldBeAbstracted
/ChainOfIrresponsibility/bin/Debug/net7.0
/Demo/bin/Debug/net7.0
/ChainOfIrresponsibility.Tests/bin/Debug/net7.0
/ChainOfIrresponsibility.Tests/obj
/ChainOfIrresponsibility/bin/Debug
/Demo/bin/Debug/net8.0
/ChainOfIrresponsibility.Tests/bin/Debug/net8.0
